# Database Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=reflex-tech-bookkeeping-app-postgres-db
POSTGRES_USER=user
POSTGRES_PASSWORD=replace_with_a_secure_password

OLLAMA_HOST=ollama:11434

# Storage & Document Processing
DOCUMENT_DATA_PATH=./document-data # Change to wherever you want
FILE_PROCESSOR_URL=http://file-processor:8081/process